doctype html
html(lang='ru')
    head 
        title 
    body
        nav.navigation 
            ol.nav-list 
                li 
                    a(href='#' class='a') ссылка
                li 
                    a(href='#' class='a') ссылка
                li 
                    a(href='#' class='a') ссылка
                li 
                    a(href='#' class='a') ссылка
                li 
                    a(href='#' class='a') ссылка