nav.navigation 
    ui.nav-list 
        li 
            a(href='#' class='a')
        li 
            a(href='#' class='a')
        li 
            a(href='#' class='a')
        li 
            a(href='#' class='a')
        li 
            a(href='#' class='a')